/* Cabeçalho da página */
header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    margin: 0 auto;
    position: relative;
    width: 940px;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

/*Página de Produtos*/
.produtos {
    margin: 0 auto;
    padding: 50px 0;
    width: 940px;
}

.produtos li {
    border: 2px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 1.5%;
    padding: 30px 20px;
    text-align: center;
    vertical-align: top;
    width: 30%;
}

.produtos li:hover {
    border-color: #c78c19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li:active {
    border-color: #088c19;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}


/*Página de Contato*/
main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

form input {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}

/* Footer */
footer {
    background: url("./imagens/bg.jpg");
    padding: 40px 0;
    text-align: center;
}

footer .copyright {
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}